# IDE files and default extensions
.idea
.DS_Store
**/*.ipynb
**/.ipynb_checkpoints
**/__pycache__

# Cache files
lumibot/cache
*cache*
**/*.pkl
.pytest*

# Development files
venv
.venv
logs
credentials.py
*debug.py
todos.txt
*.pem
test_bot.py
.vscode
.coverage*
*secret*/**.env
lumi_tradier
lumiwealth_tradier

# Pypi deployment
build
dist
*.egg-info
# setup.py
/alpaca_data_run.py
/alpaca_run.py
/lumibot_profiles.png
/notebooks/scanner_parameters.xml
/lumibot/strategies/examples/technical_analysis.py
/technical_analysis.pyx
/lumibot/tests/test_ib_broker.py
test.csv
my_dev
/data/SPY_Minute.csv
data/SRNE_Minute.csv
.vscode/**
*.tmp
