# IDE files and default extensions
.idea
.DS_Store
**/*.ipynb
**/.ipynb_checkpoints
**/__pycache__

# Development files
venv
logs
credentials.py
debug.py
todos.txt

# Pypi deployment
build
dist
lumibot.egg-info
setup.py
