aiodns==2.0.0
aiohttp==3.7.3
alpaca-trade-api==0.51.0
alpha-vantage==2.3.1
ansi2html==1.6.0
anyio==3.3.1
appdirs==1.4.4
apsw==3.28.0.post1
apturl==0.5.2
argon2-cffi==21.1.0
asgiref==3.4.1
async-timeout==3.0.1
asyncio-nats-client==0.10.0
attrs==19.3.0
Babel==2.9.1
backcall==0.1.0
backtrader==1.9.76.123
bcrypt==3.1.7
beautifulsoup4==4.9.3
bidict==0.21.2
black==20.8b1
bleach==3.1.5
blinker==1.4
bokeh==2.4.0
Brlapi==0.7.0
Brotli==1.0.9
bs4==0.0.1
bta-lib==1.0.0
cachetools==4.0.0
ccxt==1.39.33
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
cloudpickle==2.0.0
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
css-parser==1.0.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
daemonize==2.4.7
dash==2.0.0
dash-bootstrap-components==0.10.5
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-renderer==1.7.0
dash-table==5.0.0
dash-ui==0.4.0
dask==2021.9.1
dataclasses==0.6
DateTimeRange==1.0.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
Deprecated==1.2.10
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
duplicity==0.8.12.0
email-validator==1.1.3
empyrical==0.5.5
entrypoints==0.3
et-xmlfile==1.0.1
eventkit==0.8.6
exchange-calendars==3.2
fastapi==0.70.0
fasteners==0.14.1
feedparser==5.2.1
filelock==3.0.12
finnhub-python==1.1.3
finta==1.3
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Compress==1.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
fsspec==2021.10.0
future==0.18.2
gdown==3.10.1
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
h11==0.12.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.0.1
httplib2==0.14.0
httptools==0.2.0
ib-insync==0.9.65
ibapi==9.81.1.post1
IbPy2==0.8.0
idna==2.10
ifaddr==0.1.6
inflection==0.4.0
influxdb==5.3.1
iniconfig==1.1.1
ipykernel==5.2.1
ipympl==0.5.8
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.7.0
itsdangerous==0.24
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyter-dash==0.4.0
jupyter-server==1.11.0
jupyterlab==3.1.12
jupyterlab-server==2.8.1
jupyterlab-vim==0.14.5
keyring==18.0.1
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
llvmlite==0.37.0
locket==0.2.1
lockfile==0.12.2
louis==3.12.0
lumibot==1.3.8
lxml==4.6.2
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==0.23
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
mat4py==0.5.0
matplotlib==3.3.3
mbstrdecoder==1.0.1
mechanize==0.4.5
mibian==0.1.3
mistune==0.8.4
monotonic==1.5
more-itertools==8.2.0
msgpack==1.0.2
multidict==4.7.6
multitasking==0.0.9
mypy-extensions==0.4.3
nb-black==1.0.7
nbclassic==0.3.2
nbconvert==5.6.1
nbformat==5.0.6
nest-asyncio==1.5.1
netifaces==0.10.4
nose==1.3.7
notebook==6.0.3
notify2==0.3
numba==0.54.0
numpy==1.19.4
numpy-financial==1.0.0
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.6
openshot-qt==2.4.3
packaging==20.3
pandas==1.1.5
pandas-datareader==0.9.0
pandas-market-calendars==3.0
pandas-ta==0.3.14b0
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.7.0
partd==1.2.0
passlib==1.7.4
pathspec==0.8.0
patsy==0.5.1
pbr==5.5.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.0.1
plaid-python==5.0.0
plotly==5.3.1
plotly-express==0.4.1
pluggy==0.13.1
polars==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.6.1
psutil==5.7.3
psycopg2==2.8.6
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py==1.9.0
py-polars==0.6.7
pyarrow==3.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyBlackScholesAnalytics==0.0.2
pycairo==1.16.2
pycares==3.1.1
pychm==0.8.6
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pydantic==1.8.2
PyDrive==1.3.1
pyfolio==0.9.2
Pygments==2.6.1
PyGObject==3.36.0
PyJWT==1.7.1
pyluach==1.3.0
pymacaroons==0.13.0
PyMySQL==1.0.2
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyQt5==5.14.1
PyQtWebEngine==5.14.0
pyRFC3339==1.1
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.2.1
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-dotenv==0.15.0
python-engineio==4.2.1
python-socketio==5.4.0
pytz==2020.4
pyudev==0.21.0
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.1
Quandl==3.5.0
QuantStats==0.0.45
redis==3.5.3
regex==2020.5.7
reportlab==3.5.34
repoze.lru==0.7
requests==2.25.1
requests-unixsocket==0.2.0
retrying==1.3.3
Routes==2.4.1
rsa==4.0
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
SecretStorage==2.3.1
Send2Trash==1.5.0
setproctitle==1.1.10
simplejson==3.16.0
sip==4.19.21
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
speaklater==1.3
SQLAlchemy==1.3.22
starlette==0.16.0
statsmodels==0.11.1
systemd-python==234
TA-Lib==0.4.18
tabulate==0.8.7
tenacity==8.0.1
terminado==0.8.3
testpath==0.4.4
testresources==2.0.1
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.46.1
traitlets==4.3.3
tv2bt==1.0
typed-ast==1.4.1
typepy==1.1.2
typing-extensions==3.10.0.2
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.25.11
usb-creator==0.3.7
utils==1.0.1
uvicorn==0.15.0
uvloop==0.16.0
virtualenv==20.0.20
wadllib==1.3.3
watchgod==0.7
wcwidth==0.1.9
webencodings==0.5.1
WebOb==1.8.5
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==1.3.7
yarl==1.1.0
yfinance==0.1.63
zeroconf==0.24.4
