aiodns==3.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
alpaca-py==0.34.0
alpha_vantage==3.0.0
annotated-types==0.7.0
appdirs==1.4.4
APScheduler==3.10.4
asttokens==3.0.0
attrs==24.2.0
Authlib==1.3.2
bandit==1.8.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1733230610871/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1730805028284/work
ccxt==4.4.35
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1733218092148/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1732012286593/work
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy==1.3.1
coverage==7.6.8
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
cryptography==44.0.0
cycler==0.12.1
decorator==5.1.1
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1733238395481/work
dnspython==2.7.0
dparse==0.6.4
duckdb==1.1.3
dulwich @ file:///Users/runner/miniforge3/conda-bld/dulwich_1728583286972/work
email_validator==2.2.0
exchange_calendars==4.6
executing==2.1.0
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
filelock==3.12.4
Flask==3.1.0
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-Principal==0.4.0
Flask-Security==5.5.2
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.55.1
frozendict==2.4.6
frozenlist==1.5.0
gevent==24.11.1
greenlet==3.1.1
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
holidays==0.53
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
html5lib==1.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
ibapi==9.81.1.post1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
ijson==3.3.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1733223117029/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1733231327252/work
inflection==0.5.1
iniconfig==2.0.0
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1733237321392/work
ipython==8.30.0
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1713939306738/work
jedi==0.19.2
Jinja2==3.1.4
jsonpickle==4.0.0
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1728574836527/work
kiwisolver==1.4.7
korean-lunar-calendar==0.3.1
-e git+https://github.com/jjfantini/lumibot.git@057a680ba050fe0f7e4457522b0e2b18d0b38a59#egg=lumibot
lumiwealth-tradier==0.1.14
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
marshmallow-sqlalchemy==1.1.0
matplotlib==3.9.3
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1725630081114/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1725975043881/work
multidict==6.1.0
multitasking==0.0.11
numpy==2.1.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.2.3
pandas-datareader==0.10.0
pandas_market_calendars==4.4.2
parso==0.8.4
passlib==1.7.4
pbr==6.1.0
peewee==3.17.8
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow==11.0.0
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1733182879952/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly==5.24.1
pluggy==1.5.0
poetry @ file:///Users/runner/miniforge3/conda-bld/poetry_1728951545926/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1733215790644/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1715458131259/work
polygon-api-client @ file:///Users/jjfantini/github/client-python
prompt_toolkit==3.0.48
propcache==0.2.1
psutil==6.0.0
psycopg2-binary==2.9.10
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval==0.2.3
pyarrow==18.1.0
pycares==4.5.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyluach==2.2.0
pyparsing==3.2.0
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1727644064167/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==8.3.4
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-socketio==5.11.4
pytz==2024.2
PyYAML==6.0.2
Quandl==3.7.0
quantstats-lumi==0.3.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1682953341151/work
rich==13.9.4
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruff==0.8.1
safety==3.2.11
safety-schemas==0.0.10
scipy==1.14.1
seaborn==0.13.2
setuptools==75.6.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
simple-websocket==1.1.0
six==1.16.0
soupsieve==2.6
SQLAlchemy==2.0.36
sseclient-py==1.8.0
stack-data==0.6.3
stevedore==5.4.0
tabulate==0.9.0
tenacity==9.0.0
termcolor==2.5.0
thetadata==0.9.11
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
toolz==1.0.0
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1733211831624/work
typer==0.15.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1733206856906/work
uuid==1.30
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1732609431896/work
wcwidth==0.2.13
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wget==3.2
wheel==0.45.1
wsproto==1.2.0
WTForms==3.2.1
xattr @ file:///Users/runner/miniforge3/conda-bld/xattr_1728410235808/work
yarl==1.18.3
yfinance==0.2.50
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
