.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.data-image {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-bottom: 10px;
}

.lib-feature {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px;
}

.bash {
    font-size: large;
    font-weight: bold;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    margin: 14px;
}

.course-list {
    margin-bottom: 60px;
}

.course-button {
    margin: 25px;
    box-shadow: 5px 10px 18px #9b9b9b;
}