##### WARNING: THIS IS AN EXAMPLE FILE, DO NOT ADD YOUR KEYS HERE, THEY WILL BE CHECKED IN TO GIT #####

# This file is used to store all the API keys and other sensitive information so that it is not stored in the code.
# This file is not stored in GitHub and is only stored locally on the computer running the code.
POLYGON_API_KEY = '<your key here>'

# For alpaca unit tests
ALPACA_TEST_API_KEY='<your key here>'
ALPACA_TEST_API_SECRET='<your key here>'

# For live or paper trading. (Set paper to false for live trading)
ALPACA_API_KEY='<your key here>'
ALPACA_API_SECRET='<your key here>'
ALPACA_IS_PAPER=true

# For tradier unit tests
TRADIER_TEST_ACCESS_TOKEN='<your key here>'
TRADIER_TEST_ACCOUNT_NUMBER='<your key here>'

# For live or paper trading. (Set paper to false for live trading)
TRADIER_ACCESS_TOKEN='<your key here>'
TRADIER_ACCOUNT_NUMBER='<your key here>'
TRADIER_IS_PAPER=true