##### WARNING: THIS IS AN EXAMPLE FILE, DO NOT ADD YOUR KEYS HERE, THEY WILL BE CHECKED IN TO GIT #####

# This file is used to store all the API keys and other sensitive information so that it is not stored in the code.
# This file is not stored in GitHub and is only stored locally on the computer running the code.
POLYGON_API_KEY = '<your key here>'