{% extends 'layouts/home.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <h5 class="card-header text-white bg-danger">Portfolio value</h5>
                <div class="card-body">
                    <h4 id="portfolio-value" class="card-title text-center"></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <h5 class="card-header text-white bg-danger">Unspent money</h5>
                <div class="card-body">
                    <h4 id="unspent-money" class="card-title text-center"></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <h5 class="card-header text-white bg-danger">Last update</h5>
                <div class="card-body">
                    <h4 class="card-title text-center" >
                        <span id="last-update"></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-6 col-lg-12">
            <div class="card">
                <h5 class="card-header text-white bg-primary">Portfolio value</h5>
                <div class="card-body">
                    <h5 class="card-title float-left">Portfolio value time evolution</h5>
                    <a href="#" class="btn btn-success float-right">
                        <small>Change Format</small>
                    </a>
                    <p class="card-text"></p>
                    <div class="big-chart-container">
                        <canvas id="portfolioChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card">
                <h5 class="card-header text-white bg-primary">Shares</h5>
                <div class="card-body">
                    <h5 class="card-title float-left">Portfolio Shares</h5>
                    <div class="btn-group float-right" role="group">
                        <button id="doughnut" type="button" class="btn btn-success shares-button active">
                            <small>Doughnut</small>
                        </button>
                        <button id="pie" type="button" class="btn btn-success shares-button">
                            <small>Pie</small>
                        </button>
                        <button id="bar" type="button" class="btn btn-success shares-button">
                            <small>Bar</small>
                        </button>
                    </div>
                    <p class="card-text"></p>
                    <div class="big-chart-container">
                        <canvas id="sharesChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
            <ul class="nav nav-tabs mt-5 mt-sm-0" id="logs-stats-menu" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="logs-btn-tab" data-toggle="tab" href="#logs-tab" role="tab" aria-controls="logs-tab" aria-selected="true">
                        Logs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stats-btn-tab" data-toggle="tab" href="#stats-tab" role="tab" aria-controls="stats-tab" aria-selected="false">
                        Tracked stats
                    </a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="logs-stats-content">
                <div class="tab-pane fade show active" id="logs-tab" role="tabpanel" aria-labelledby="logs-tab">
                    <table id="logs-table" data-show-columns="true"></table>
                </div>
                <div class="tab-pane fade" id="stats-tab" role="tabpanel" aria-labelledby="stats-tab">
                    <table id="stats-table" data-show-columns="true"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function dashboard(socket){
        // Declaring variables /////////////////////////////////
        const maxGraphPoints = 1000;
        const maxTableRows = 1000;
        let lastPortfolioData = {};
        let portfolioGraphPoints = {labels:[], values:[]};
        let statRows = [];
        let logRows = [];
        let sharesChartType = "doughnut";
        let portfolioEvolutionChart;
        let sharesChart;
        let logsTable;
        let statsTable;

        init();

        // Lifecycle Method /////////////////////////////////////////////

        function loadData() {
            return new Promise((resolve, reject) => {
                axios.get('/data/strategies/').then((response) => {
                    const data = response.data;
                    const first_strategy_id = data[0].id;

                    const portfolioRequestUrl = `/data/strategies/${first_strategy_id}/portfolio`; 
                    const portfolioRequest = axios.get(portfolioRequestUrl);

                    const evolutionRequestUrl = `/data/strategies/${first_strategy_id}/evolution`;
                    const evolutionRequest = axios.get(evolutionRequestUrl);

                    const logsRequestUrl = `/data/strategies/${first_strategy_id}/logs`;
                    const logsRequest = axios.get(logsRequestUrl);

                    const statsRequestUrl = `/data/strategies/${first_strategy_id}/stats`;
                    const statsRequest = axios.get(statsRequestUrl);

                    axios.all([portfolioRequest, evolutionRequest, logsRequest, statsRequest]).then(
                        axios.spread(
                            (...responses) => {
                                const portfolioData = responses[0].data;
                                const evolutionData = responses[1].data;
                                const logsData = responses[2].data;
                                const statsData = responses[3].data;

                                const result = {
                                    lastPortfolioDataRaw: portfolioData,
                                    portfolioGraphPointsRaw: evolutionData,
                                    statRowsRaw: statsData,
                                    logRowsRaw: logsData,
                                };
                                resolve(result);
                            }
                        )
                    );
                });
            });
        }

        function init() {
            loadData().then((resp) => {
                //({lastPortfolioDataRaw, portfolioGraphPointsRaw, logRowsRaw, statRowsRaw} = resp);
                const {lastPortfolioDataRaw, portfolioGraphPointsRaw, logRowsRaw, statRowsRaw} = resp;

                populatePortfolioGraphPoints(portfolioGraphPointsRaw);
                putPortfolioData(lastPortfolioDataRaw);
                putLogData(logRowsRaw);
                putStatRowsData(statRowsRaw);
            });
        }

        // Methods /////////////////////////////////////////////
        function putPortfolioData(data) {
            lastPortfolioData = data;

            const portfolioValue = data.total;
            $("#portfolio-value").html(parseMoney(portfolioValue));

            const unspentMoney = data.unspent_money;
            $("#unspent-money").html(parseMoney(unspentMoney));

            const lastUpdate = data.time;
            $("#last-update").html(parseTimeString(lastUpdate));
            $("#last-update").attr("title", "NY Timezone").tooltip({placement: "top"});

            if (!sharesChart){
                sharesChart = createSharesChart(sharesChartType);
            } else {
                const labels = lastPortfolioData.positions.map((el) => el.symbol);
                const values = lastPortfolioData.positions.map((el) => el.quantity * el.price);
                editChartData(sharesChart, labels, values, inplace=true);
            }
            
            portfolioGraphPoints.labels.push(lastUpdate);
            portfolioGraphPoints.values.push(portfolioValue);
            if (portfolioGraphPoints.length >= maxGraphPoints){
                portfolioGraphPoints.labels.shift();
                portfolioGraphPoints.values.shift();
            }

            if (!portfolioEvolutionChart) {
                portfolioEvolutionChart = createPortfolioEvolutionChart();
            } else {
                editChartData(
                    portfolioEvolutionChart,
                    portfolioGraphPoints.labels,
                    portfolioGraphPoints.values,
                );
            }
        }

        function populatePortfolioGraphPoints(data){
            data.pop();
            portfolioGraphPoints.labels = data.map(item => item.time);
            portfolioGraphPoints.values = data.map(item => item.total);
        }

        function putLogData(data) {
            if (Array.isArray(data)){
                logRows.push(...data)
            }else{
                logRows.push(data);
            }

            if (!logsTable) {
                logsTable = createLogMessagesTable();
            }

            if (logRows.length >= maxTableRows){
                logRows.shift();
                appendBootstrapRows($("#logs-table"), logRows, inplace=true);
            } else {
                appendBootstrapRows($("#logs-table"), data);
            }
        }

        function putStatRowsData(data) {
            let processed;
            if (Array.isArray(data)){
                processed = data.map(item => item.data);
                statRows.push(...processed);
            }else{
                processed = data.data;
                statRows.push(processed);
            }

            if (!statsTable) {
                statsTable = createStatsTable();
            }

            if (statRows.length >= maxTableRows){
                statRows.shift();
                appendBootstrapRows($("#stats-table"), statRows, inplace=true);
            } else {
                appendBootstrapRows($("#stats-table"), processed);
            }
        }

        function createPortfolioEvolutionChart(){
            const {labels, values} = portfolioGraphPoints;
            const chart = new Chart(
                'portfolioChart',
                generateChartLineConfig('Portfolio Evolution', labels, values),
            );
            return chart;
        }

        function createSharesChart(type='doughnut'){
            const labels = lastPortfolioData.positions.map((el) => el.symbol);
            const values = lastPortfolioData.positions.map((el) => el.quantity * el.price);
            const chart = new Chart(
                'sharesChart',
                generateDoughnutConfig(
                    labels,
                    values,
                    'Portfolio assets',
                    sharesGraphLabelCallback,
                    type = type,
                ),
            );
            return chart;
        }

        function createLogMessagesTable(){
            const logMessagesColumns = Object.keys(logRows[0])
            initBootstrapTable($("#logs-table"), logMessagesColumns);
            return $("#logs-table");
        }

        function createStatsTable(){
            if (!statRows){
                return null;
            }

            const statsColumns = Object.keys(statRows[0]);
            initBootstrapTable($("#stats-table"), statsColumns);
            return $("#stats-table");
        }

        function sharesGraphLabelCallback(context) {
            const symbol = context.label;
            const total = context.raw;
            const item = lastPortfolioData.positions.find(e => e.symbol === symbol);
            const price = item.price;
            const quantity = item.quantity;

            const totalLabel = `Total value: ${parseMoney(total)}`;
            const quantityLabel = `${quantity} shares of ${symbol}`;
            const priceLabel = `${parseMoney(price)} per share`;

            return [totalLabel, quantityLabel, priceLabel];
        }

        // Frontend Events /////////////////////////////////////
        $(".shares-button").click((event) => {
            $(".shares-button").removeClass("active");
            $(event.currentTarget).addClass("active");
            const newSharesChartType = $(event.currentTarget).attr("id");
            if (sharesChartType !== newSharesChartType){
                sharesChartType = newSharesChartType;
                sharesChart = updateChartType(sharesChart, newSharesChartType);
            }
        });

        // Socket Events /////////////////////////////////////
        socket.on('portfolio_update', (payload) => {putPortfolioData(payload);});

        socket.on('log', (payload) => {putLogData(payload);});

        socket.on('trace_stats', (payload) => {putStatRowsData(payload);});

    }
</script>

<style>
    .big-chart-container {
        display: block;
        max-height: 250px;
        margin-bottom: 10px;
    }
    .shares-button {
        min-width: 82px;
    }
    .tab-content .fixed-table-border {
        width: 100%!important
    }
</style>
{% endblock %}
