.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.data-image {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-bottom: 10px;
}

.lib-feature {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px;
}

.bash {
    font-size: large;
    font-weight: bold;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    margin: 14px;
}

.course-list {
    margin-bottom: 60px;
}

.footer-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-banner h5 {
    margin: 0;
}

.footer-banner p {
    margin: 0;
    word-wrap: break-word;
    padding: 0 15px; /* Add padding for better text wrapping */
}

.footer-banner a {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-banner p {
        padding: 0 10px;
        white-space: normal; /* Ensure text wraps on small screens */
    }
}